<!DOCTYPE html>
<html>

<head>
    <title>YouTube Downloader</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        #banner {
            height: 100vh;
            background-image: linear-gradient(to right, white 20%, black 100%), url('./static/bg-image.jpg');
            background-blend-mode: color-dodge;
        }

        #banner .container-fluid .jumbotron {
            background: transparent;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/stylesheets/progressbar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mp3.css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"
        integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
        crossorigin="anonymous"></script>
    <script src="/js/mp3.js"></script>
</head>

<body>
    <div id="banner">
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h3>Video YouTube Audio Downloader</h3>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <!-- <form class = "downloadForm"> -->
                    <div class="form-group">
                        <input class="form-control" type="text" name="url" placeholder="Youtube Url" required />
                    </div>
                    <div class="form-group text-center">
                        <!-- <input id="submitBtn" class="btn btn-primary" type="submit" onclick="download(event);" value="Download" /> -->
                        <input id="submitBtn" class="btn btn-primary" type="submit" value="Download" />
                    </div>
                    <div class="progress-bar" id="progress-bar" data-status="0%" aria-label="Progress bar."
                        style="display: none;"></div>


                    <div class="audio-player" id="audio-player" style="display: none;">
                        <!-- <div id="play-btn"></div> -->
                        <div class="audio-wrapper" id="player-container" href="javascript:;">
                            <audio id="player" ontimeupdate="initProgressBar()">
                                <source src="http://www.lukeduncan.co/oslo.mp3" type="audio/mp3">
                            </audio>
                        </div>
                        <div class="player-controls scrubber">
                            <p id="mp3Title">Title</p>
                            <!-- <span id="seekObjContainer">
                                <progress id="seekObj" value="0" max="1"></progress>
                            </span>
                            <br>
                            <small style="float: left; position: relative; left: 15px;" class="start-time"></small>
                            <small style="float: right; position: relative; right: 20px;" class="end-time"></small> -->

                        </div>
                        <div id="album-image" class="album-image"
                            style="background-image: url('https://artwork-cdn.7static.com/static/img/sleeveart/00/051/614/0005161476_350.jpg')">
                        </div>
                    </div>

                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const progressBar = document.getElementById("progress-bar");
        const audioEl = document.getElementById("audio-player");
        const mp3TitleEl = document.getElementById("mp3Title");
        const submitEl = document.getElementById("submitBtn");

        const socket = io();
        let socketid = "";

        socket.on("connect", () => {
            socketid = socket.id
        });
        socket.on("progress", (downloaded, title, thumbnailUrl, mp3File) => {
            if (downloaded === 100 && title !== "") {
                progressBar.style.display = "none";

                audioEl.style.display = "block";

                let playerEl = document.getElementById("player");
                // let songPath = "/static/mp3/" + title;
                // console.log("songPath:  ", songPath);
                playerEl.firstElementChild.setAttribute("src", mp3File);

                mp3TitleEl.innerHTML = title;

                const albumImageEl = document.getElementById("album-image");
                console.log("thumbnailUrl:  ", thumbnailUrl);
                albumImageEl.style.backgroundImage = `url(${thumbnailUrl})`;

                submitEl.disabled = false;
            }
            else {
                progressBar.style.display = "block";
                progressBar.dataset.status = downloaded + "%";
                progressBar.setAttribute(
                    "style",
                    `--__progress-bar__status_wh: ${downloaded}%;`
                );
            }
        });

        $('#submitBtn').click((e) => {
            e.preventDefault();
            let url = $(".form-group .form-control").val();
            console.log("valueee:   =>>>>>>>>>>>>>>>>>>   ", url);

            $.ajax({
                url: "/api/v1/ytdownload",
                type: 'POST',
                cache: false,
                data: { url: url, socketid: socketid },
                success: function (data) {
                    console.log('Success!')
                }
                , error: function (jqXHR, textStatus, err) {
                    console.log('err status ' + textStatus + ', err ' + err)
                }
            })
            
            submitEl.disabled = true;
        });
    </script>

</body>

</html>