<!DOCTYPE html>
<html>

<head>
    <title>YouTube Downloader</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        #banner {
            height: 100vh;
            background-image: linear-gradient(to right, white 20%, black 100%);
            background-blend-mode: color-dodge;
        }

        #banner .container-fluid .jumbotron {
            background: transparent;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/stylesheets/progressbar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mp3.css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"
        integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
        crossorigin="anonymous"></script>
    <script src="/js/mp3.js"></script>
</head>

<body>
    <div id="banner">
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h3>Video YouTube Audio Downloader</h3>
            </div>
            <% if(url) { %>
                <div class="form-group text-center">
                    <a href="<%= url%>" class="btn btn-primary">Login</a>
                </div>
                <% } else { %>
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <!-- <form class = "downloadForm"> -->
                            <div class="form-group">
                                <input class="form-control" type="text" name="url" placeholder="Youtube Url" required />
                            </div>
                            <div class="form-group text-center">
                                <!-- <input id="submitBtn" class="btn btn-primary" type="submit" onclick="download(event);" value="Download" /> -->
                                <input id="submitBtn" class="btn btn-primary" type="submit" value="Download" />
                            </div>
                            <div class="progress-bar" id="progress-bar" data-status="0%" aria-label="Progress bar."
                                style="display: none;"></div>

                            <div class="player" id="audio-player" style="display: none;">
                                <div class="imgbx" id="imgbx">
                                    <img src="https://i.postimg.cc/HsN3YR62/austin-neill-hg-O1w-FPXl3-I-unsplash.jpg">
                                </div>

                                <div class="player-controls scrubber">
                                    <p id="mp3Title">Title</p>
                                </div>

                                <audio id="audio" controls>
                                    <source id="audioSource">
                                </audio>
                                <input id="uploadBtn" class="btn btn-primary" type="submit" value="Upload to Drive" />
                            </div>

                            <!-- </form> -->
                        </div>
                    </div>
                    <% } %>
        </div>
    </div>
    <script type="text/javascript">
        const progressBar = document.getElementById("progress-bar");
        const audioPlayerEl = document.getElementById("audio-player");
        const mp3TitleEl = document.getElementById("mp3Title");
        const submitEl = document.getElementById("submitBtn");
        const imgbxEl = document.getElementById("imgbx");
        const uploadBtn = document.getElementById("uploadBtn");

        const socket = io();
        let socketid = "";

        socket.on("connect", () => {
            socketid = socket.id
        });

        socket.on("progress", (downloaded, fileData) => {
            if (downloaded === 100 && fileData) {
                progressBar.style.display = "none";

                audioPlayerEl.style.display = "block";

                let audioEl = document.getElementById("audio");
                // audioEl.setAttribute("src", fileData.file);
                // document.getElementById("audioSource").setAttribute("src", fileData.file);
                // let fileBaseUrl = "http://localhost:3000\\static\\mp3/";

                // let fileBaseUrl = "../static/mp3/";
                let fileBaseUrl = "../static/mp3/";
                let encodedVideoTitle = encodeURI(fileData.videoTitle);
                let fileUrl = fileBaseUrl + encodedVideoTitle + ".mp3";
                document.getElementById("audioSource").setAttribute("src", fileUrl);

                console.log("fileData.videoTitle:  ", fileData.videoTitle);
                mp3TitleEl.innerHTML = fileData.videoTitle;

                console.log("thumbnailUrl:  ", fileData.thumbnail);
                imgbxEl.firstElementChild.setAttribute("src", fileData.thumbnail);


                submitEl.disabled = false;
            }
            else {
                progressBar.style.display = "block";
                progressBar.dataset.status = downloaded + "%";
                progressBar.setAttribute(
                    "style",
                    `--__progress-bar__status_wh: ${downloaded}%;`
                );
            }
        });

        $('#submitBtn').click((e) => {
            e.preventDefault();
            let url = $(".form-group .form-control").val();
            console.log("valueee:   =>>>>>>>>>>>>>>>>>>   ", url);

            audioPlayerEl.style.display = "none";

            $.ajax({
                url: "/api/v1/ytdownload",
                type: 'POST',
                data: { url: url, socketid: socketid },
                success: function (data) {
                    console.log('Success!')
                }
                , error: function (jqXHR, textStatus, err) {
                    console.log('err status ' + textStatus + ', err ' + err)
                }
            })

            submitEl.disabled = true;
        });
        $("#uploadBtn").click((e) => {
            e.preventDefault();
            uploadBtn.disabled = true;

            let title = $("#mp3Title").text();
            console.log("valueee:   =>>>>>>>>>>>>>>>>>>   ", title);

            $.ajax({
                url: "/uploadToDrive",
                type: 'POST',
                data: { title: title },
                success: function (data) {
                    console.log("File Upload API: ", data);
                    alert("File uploaded to drive successfully");
                    console.log('Success!')
                }
                , error: function (jqXHR, textStatus, err) {
                    console.log('err status ' + textStatus + ', err ' + err)
                }
            })
        });
    </script>

</body>

</html>